.spinner {
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  background-color: rgba(12, 146, 177, 0.48);
  height: 60px;
  margin: 200px auto;
  width: 60px; }

.green {
  color: #47b04b; }

.red {
  color: #f44336; }

.green-background {
  background-color: #47b04b; }

.red-background {
  background-color: #f44336; }

.status {
  color: white; }
  .status.up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47b04b;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .status.down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

div[disabled] {
  pointer-events: none; }

.arrow-down {
  margin-left: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease; }
  .arrow-down.opened {
    transform: rotate(180deg); }

.pagination {
  margin-left: auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .pagination ul {
    list-style-type: none; }
    .pagination ul .page {
      cursor: pointer;
      display: inline; }
      .pagination ul .page .num {
        padding: 5px 10px; }
        .pagination ul .page .num.active {
          background-color: #00bcd4;
          color: white;
          border-radius: 3px;
          cursor: default; }

.pagination-range {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 10px;
  font-size: 0.9rem;
  color: #9e9e9e; }
  .pagination-range input {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 3px;
    width: 30px;
    outline: none;
    box-shadow: none;
    transition: all .3s;
    padding: 0 10px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .pagination-range input:focus {
      background-color: #00bcd4;
      color: white; }

.switch label {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0 10px;
  color: #9e9e9e; }
  .switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #f44336;
    left: 24px; }
  .switch label input[type=checkbox]:checked + .lever {
    background-color: rgba(244, 67, 54, 0.48); }
  .switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #84c7c1;
    border-radius: 15px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px; }
    .switch label .lever:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 21px;
      height: 21px;
      background-color: #26a69a;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -5px;
      top: -3px;
      transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease; }

body {
  background-color: #f5f7fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-y: scroll; }

.cover {
  background-color: black;
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: all .2s ease-out;
  visibility: hidden;
  width: 100%; }
  .cover.state--show {
    opacity: .2;
    visibility: visible;
    z-index: 199; }

.nav-bar {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: #2196f3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; }
  .nav-bar .logo-icon {
    color: white;
    font-size: 40px; }
  .nav-bar .logo {
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400; }
    .nav-bar .logo .logo-red {
      color: #ffd3d8; }
  .nav-bar .search-wrapper {
    width: calc(100% - 350px); }

.type-ahead {
  animation-duration: .25s;
  animation-name: fade-in;
  background: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0 1px 6px, rgba(0, 0, 0, 0.11765) 0 1px 4px;
  margin: 0 0 0 8.5%;
  padding: 0;
  position: absolute;
  width: calc(100% - 350px - 8.5%); }
  .type-ahead li {
    list-style-type: none; }
  .type-ahead .header {
    background-color: #919da8;
    padding: 10px;
    text-transform: uppercase; }
    .type-ahead .header.nav-bar-type-a-working {
      background-color: rgba(37, 176, 17, 0.1); }
    .type-ahead .header.nav-bar-type-a-error {
      background-color: rgba(247, 65, 45, 0.11); }
  .type-ahead .content {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer; }
    .type-ahead .content .app {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      padding: 10px; }
      .type-ahead .content .app:hover {
        background-color: #e4f0fb; }
      .type-ahead .content .app .status-icon {
        padding-right: 10px; }

.search-off {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  margin-left: 11%;
  position: relative; }
  .search-off .material-icons {
    color: white;
    font-size: 30px;
    line-height: 0;
    padding-left: 10px;
    position: absolute; }
  .search-off input {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    outline: none;
    padding: 8px 8px 8px 72px;
    transition: all 200ms ease;
    width: 100%; }
    .search-off input::-webkit-input-placeholder {
      color: #FFFFF9; }
    .search-off input:hover {
      background: rgba(255, 255, 255, 0.5); }
      .search-off input:hover::-webkit-input-placeholder {
        color: #FFFFF9; }

.search-on {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  margin-left: 11%;
  position: relative; }
  .search-on input {
    -webkit-appearance: none;
    background: white;
    border: 0;
    border-radius: 3px;
    color: black;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    outline: none;
    padding: 8px 8px 8px 72px;
    transition: all 200ms ease;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .search-on input::-webkit-input-placeholder {
      color: #adadad; }
  .search-on .material-icons {
    color: #444;
    font-size: 30px;
    line-height: 0;
    padding-left: 10px;
    position: absolute; }

.container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  margin-top: 65px; }
  .container .main-page {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 2px;
    border: 0;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2% 10% 0;
    padding: 2%; }
    .container .main-page h1 {
      color: #373a3c;
      display: inline-flex;
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 1.5; }
    .container .main-page .lead {
      font-size: 1.25rem;
      font-weight: 300; }
    .container .main-page .material-icons {
      color: white;
      font-size: 25px; }
    .container .main-page .env-list {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 2%; }
      .container .main-page .env-list .menu-item {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-radius: .3rem;
        color: white;
        cursor: pointer;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        transition: all .2s ease-out;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
        .container .main-page .env-list .menu-item:hover {
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .container div.menu {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height: 300px;
    min-width: 200px;
    position: fixed; }
    .container div.menu hr {
      background-color: #e0e0e0;
      opacity: .3;
      width: 70%; }
    .container div.menu .title {
      color: #919da8;
      font-size: 25px;
      opacity: .4;
      padding-top: 10px; }
    .container div.menu .menu-item {
      align-self: center;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      border: 0;
      border-radius: 2px;
      color: white;
      cursor: pointer;
      height: 36px;
      letter-spacing: .5px;
      line-height: 36px;
      margin-right: 10px;
      margin-top: 15px;
      -webkit-tap-highlight-color: transparent;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      transition: all .2s ease-out;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .container div.menu .menu-item:hover {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .container div.menu .menu-item .material-icons {
        padding: 0 5px; }
  .container div.content-wrapper {
    flex-grow: 2;
    margin: 0 50px 0 250px; }
    .container div.content-wrapper .breadcrumbs {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      color: #89b7df;
      min-height: 50px; }
      .container div.content-wrapper .breadcrumbs .breadcrumb:not(:last-child) {
        cursor: pointer;
        transition: all 100ms ease; }
        .container div.content-wrapper .breadcrumbs .breadcrumb:not(:last-child):hover:not(:last-child) {
          color: #008AF5; }
      .container div.content-wrapper .breadcrumbs .breadcrumb:last-child {
        color: #49b1b7; }
      .container div.content-wrapper .breadcrumbs .breadcrumb:not(:first-child):before {
        content: "chevron_right";
        font-family: 'Material Icons', serif;
        -webkit-font-smoothing: antialiased;
        color: #89b7df;
        vertical-align: text-bottom; }
      .container div.content-wrapper .breadcrumbs .separator {
        margin: 0 10px; }
      .container div.content-wrapper .breadcrumbs.fix {
        margin-top: 65px;
        position: fixed;
        border-bottom: 1px solid #f3f3f3; }
    .container div.content-wrapper .panel {
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      border-radius: 2px;
      border: 0;
      background-color: #fff;
      box-sizing: border-box;
      width: 100%;
      width: 90%; }
      .container div.content-wrapper .panel header {
        background-color: #e3f2fd;
        min-height: 64px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center; }
        .container div.content-wrapper .panel header span.title {
          color: #2196f3;
          padding-left: 30px; }
      .container div.content-wrapper .panel .panel-options {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid #f3f3f3;
        user-select: none;
        padding: 5px 10px;
        min-height: 60px; }
        .container div.content-wrapper .panel .panel-options .option {
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          cursor: pointer; }
      .container div.content-wrapper .panel .main-content {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .container div.content-wrapper .panel .main-content .row {
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          border-bottom: 1px solid #e0e0e0;
          -webkit-align-items: center;
          align-items: center;
          cursor: pointer;
          min-height: 50px;
          width: 100%; }
          .container div.content-wrapper .panel .main-content .row .name {
            padding-left: 10px; }
          .container div.content-wrapper .panel .main-content .row .version {
            margin-left: auto;
            padding-right: 10px; }
          .container div.content-wrapper .panel .main-content .row:hover {
            background-color: rgba(227, 242, 254, 0.31); }
          .container div.content-wrapper .panel .main-content .row .status-icon {
            padding-left: 10px; }
    .container div.content-wrapper .app ul {
      margin: 0;
      padding: 0; }
      .container div.content-wrapper .app ul li {
        list-style-type: none; }
        .container div.content-wrapper .app ul li .status-icon {
          font-size: 50px;
          margin: 0 20px; }
        .container div.content-wrapper .app ul li.header {
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          align-items: center;
          width: 100%; }
          .container div.content-wrapper .app ul li.header .general {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            .container div.content-wrapper .app ul li.header .general .app-title {
              font-size: 1.14rem;
              font-weight: 500; }
              .container div.content-wrapper .app ul li.header .general .app-title a {
                color: inherit;
                text-decoration: none; }
                .container div.content-wrapper .app ul li.header .general .app-title a:hover {
                  color: #008AF5; }
          .container div.content-wrapper .app ul li.header .more-info {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-left: auto;
            -webkit-align-items: center;
            align-items: center; }
            .container div.content-wrapper .app ul li.header .more-info .icons {
              display: -webkit-box;
              /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box;
              /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox;
              /* TWEENER - IE 10 */
              display: -webkit-flex;
              /* NEW - Chrome */
              display: flex;
              padding-right: 10px;
              transition: opacity .2s ease-out; }
            .container div.content-wrapper .app ul li.header .more-info .more-info-button {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #49b1b7;
              width: 50px;
              height: 50px;
              margin-right: 10px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              transition: all .2s ease-out;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
              .container div.content-wrapper .app ul li.header .more-info .more-info-button:hover {
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
              .container div.content-wrapper .app ul li.header .more-info .more-info-button .material-icons {
                color: #fff;
                font-size: 30px; }
            .container div.content-wrapper .app ul li.header .more-info .small-button {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #49b1b7;
              width: 35px;
              height: 35px;
              margin-right: 10px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              transition: all .2s ease-out;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              text-decoration: none; }
              .container div.content-wrapper .app ul li.header .more-info .small-button:hover {
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
              .container div.content-wrapper .app ul li.header .more-info .small-button .material-icons {
                color: #fff;
                font-size: 20px; }
            .container div.content-wrapper .app ul li.header .more-info .desc {
              background-color: #00BCD6;
              border-radius: 2px;
              color: white;
              margin-left: -10px;
              margin-top: 10px;
              padding: 10px;
              position: absolute;
              transition: .2s ease-out; }
        .container div.content-wrapper .app ul li.collection-item {
          border-bottom: 1px solid #e0e0e0; }
          .container div.content-wrapper .app ul li.collection-item .header {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 10px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            .container div.content-wrapper .app ul li.collection-item .header:hover {
              background-color: rgba(227, 242, 254, 0.31); }
          .container div.content-wrapper .app ul li.collection-item .content {
            background-color: #F9F9F9;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: 0.2s ease;
            transition-delay: 0s; }
            .container div.content-wrapper .app ul li.collection-item .content.active {
              max-height: 1000px;
              opacity: 1; }
            .container div.content-wrapper .app ul li.collection-item .content .app-details-list .element-name {
              padding: 10px;
              display: -webkit-box;
              /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box;
              /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox;
              /* TWEENER - IE 10 */
              display: -webkit-flex;
              /* NEW - Chrome */
              display: flex;
              -webkit-align-items: center;
              align-items: center; }
